
<div class="Page p-3" [ngClass]="ActivePage==1?'NextPage':ActivePage==2?'CurrentPage':ActivePage==0?'FirstPage':''" style="width: 100vw;height:100vh;">
  <div style="width: 100%; display: inline-flex;height: 49%;">
    <div style="width:50%; padding-right:1%;">
      <canvas baseChart [datasets]="AsemblingChartData1" [labels]="AsemblingChartLabels"
        [options]="barChartOptions1" [legend]="ChartLegend" [chartType]="AsemblingChartType" [colors]="barChartColors1">
      </canvas>
    </div>
    <div style="width:50%; padding-left: 1%;">
      <canvas baseChart [datasets]="AsemblingChartData15" [labels]="AsemblingChartLabels"
        [options]="barChartOptions15" [legend]="ChartLegend" [chartType]="AsemblingChartType" [colors]="barChartColors15">
      </canvas>
    </div>
  </div>
  <div style="width: 100%; display: inline-flex;height: 49%;">
    <div style="width:50%; padding-right:1%;">
      <canvas baseChart [datasets]="AsemblingChartData13" [labels]="AsemblingChartLabels"
        [options]="barChartOptions13" [legend]="ChartLegend" [chartType]="AsemblingChartType" [colors]="barChartColors13">
      </canvas>
    </div>
    <div style="width:50%; padding-left: 1%;">
      <canvas baseChart [datasets]="AsemblingChartData31" [labels]="AsemblingChartLabels"
        [options]="barChartOptions31" [legend]="ChartLegend" [chartType]="AsemblingChartType" [colors]="barChartColors31">
      </canvas>
    </div>
  </div>
</div>
<div class="Page p-3" [ngClass]="ActivePage==2?'NextPage':ActivePage==1?'CurrentPage':''"  style="width: 100vw;height:100vh;">
  <div style="width: 100%; display: inline-flex;height: 98%;">
    <div style="width:50%; padding-right:1%; position: relative;">
      <canvas class="v-center" baseChart [datasets]="MoldingbarChartData" [labels]="MoldingChartLabels" [options]="ChartOptions"
      [legend]="ChartLegend" [chartType]="'bar'" [colors]="barChartColors">
    </canvas>
    </div>
    <div style="width:50%; padding-left: 1%; position: relative;">
      <canvas class="v-center" baseChart [datasets]="todoAsemblingChartData" [labels]="TodoAsemblingChartLabels"
        [options]="barChartOptions"  [chartType]="'bar'"[colors]="barChartColors">
      </canvas>
    </div>
  </div>
</div>
<div class="loading" *ngIf="Loading==true">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
