<div>
  <div class="area" style="width:98%;">
    <button type="button" class="btn btn-info my-2" (click)="PageEdit(PageModalData,EditPage)"><i
        class="fa fa-plus mr-2" aria-hidden="true"></i>新增</button>
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" style="height:calc(100% - 40px);"
      [columnMode]="'force'" [footerHeight]="50" [rowHeight]="50" [rows]="PageDate" [reorderable]="true"
      [scrollbarV]="true">
      <ngx-datatable-column prop="SYS_PageId" name="頁面ID" [canAutoResize]="false" [width]="60"></ngx-datatable-column>
      <ngx-datatable-column prop="PageUrl" name="頁面名稱"></ngx-datatable-column>
      <ngx-datatable-column prop="PageLocation" name="頁面路徑"></ngx-datatable-column>g,
      <ngx-datatable-column prop="IsMain" name="是否為主畫面" [canAutoResize]="false" [width]="90">
        <ng-template ngx-datatable-cell-template let-value="value">
          <div class="check1" [ngClass]="value==true?'check1_active':''"></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="MainPage" name="主畫面">
        <ng-template ngx-datatable-cell-template let-value="value">
          <ng-container *ngFor="let item of PageDate">
            <div *ngIf="item.SYS_PageId==value">{{item.SYS_PageId}} {{item.PageUrl}} </div>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" [sortable]="false" [width]="160" [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button type="button" class="btn btn-outline-info btn-sm mx-1" (click)="PageEdit(row,EditPage)"><i
              class="fa fa-pencil mr-2" aria-hidden="true"></i>編輯</button>
          <button type="button" class="btn btn-outline-secondary btn-sm mx-1"
            [swal]="{ title: '確定刪除該頁面嗎?', confirmButtonText:'確定',showCancelButton: true,cancelButtonText:'取消' }"
            (confirm)="PageDelete(row.SYS_PageId)"><i class="fa fa-trash-o mr-2" aria-hidden="true"></i>刪除</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<ng-template #EditPage let-modal>
  <div class="modal-header">
    <h4 class="modal-title my-0"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mx-2">
      <label class="text-right mx-2 col-4">頁面名稱:</label>
      <input class="mr-2 col-7" type="text" [(ngModel)]="PageModalData?.updatePage.PageUrl">
    </div>
    <div class="row mx-2">
      <label class="text-right mx-2 col-4">頁面路徑:</label>
      <input class="mr-2 col-7" type="text" [(ngModel)]="PageModalData?.updatePage.PageLocation">
    </div>
    <div class="row mx-2">
      <label class="text-right mx-2 col-4">是否為主畫面:</label>
      <input class="mr-2 col-1" type="checkbox" [(ngModel)]="PageModalData?.updatePage.IsMain">
    </div>
    <div class="row mx-2" *ngIf="PageModalData.IsMain==false">

      <label class="text-right mx-2 col-4">主畫面:</label>
      <select class="custom-select col-7" [(ngModel)]="PageModalData?.updatePage.MainPage"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let item of PageDate" [value]="item.SYS_PageId">{{item.PageUrl}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="PageSave();modal.close('Close click')"><i
        class="mr-1 fa fa-floppy-o"></i>儲存</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"><i
        class="mr-1 fa fa-times"></i>Close</button>
  </div>
</ng-template>