<div class="wrapper">
  <div class="content">
    <header>
      <h1><img style="max-width: 300px;" src="assets/images/YJF_logo.png" alt="源潤豐進階管理系統"></h1>
      <p class="TitleText">源潤豐進階管理系統</p>
    </header>

    <section class="modify">
      <p>變更您的密碼</p>
      <input type="text" style="width:8.5cm;" placeholder="EX:ESTUS@yjfcasting.com" [(ngModel)]="UserId"
        [ngModelOptions]="{standalone: true}">
      <input id="oldpwd" type="password" placeholder="請輸入您的密碼" [(ngModel)]="UserPassword" [ngModelOptions]="{standalone: true}">
      <input id="newpwd" type="password" placeholder="請輸入您的新密碼" [(ngModel)]="UserNewPassword" [ngModelOptions]="{standalone: true}">
      <input id="newpwdagain" type="password" placeholder="確認您的新密碼" [(ngModel)]="UserNewPasswordConfirm"
        [ngModelOptions]="{standalone: true}">
      <br />
      <input type="checkbox" (change)="viewPassword($event.target.checked)">
      <label for="password"> 顯示密碼</label>
    </section>
    <section class="btn-group">
      <div>
        <a href="login">取消離開</a>
        <a href="modify_password" (click)="doModifyPassword()" data-toggle="modal" data-target="#Modal_AddAccount">確定送出</a>
      </div>
    </section>
  </div>
  <footer>
    <p class="FootText">Copyright <i class="fa fa-copyright"></i>2019 <a href="https://www.yjfcasting.com" target="_blank">源潤豐鑄造</a>
      All Right Reserved.</p>
  </footer>
</div>
<!-- 彈跳視窗Start -->
<div class="modal fade" tabindex="-1" role="dialog" id="Modal_AddAccount">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <section class="section-style on">
          <h3><i class="fa fa-address-book"></i> 變更您的密碼</h3>
          <h3>系統訊息：</h3>
          <br />
          <h3 id="systemmessage"></h3>
        </section>
      </div>
      <div class="modal-footer">
        <button (click)="Return()" type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>
<!-- 彈跳視窗End -->
