<div class="wrapper">
  <div class="content">
    <header>
      <h1><img style="max-width: 300px;" src="assets/images/YJF_logo.png" alt="源潤豐進階管理系統"></h1>
    </header>

    <div class="forgot">
      <p>取回您的密碼<br />系統狀將會mail密碼至您的公司信箱</p><br><br />
      <input type="text" style="width: 300px;" placeholder="EX：Estus@yjfcasting.com" [(ngModel)]="UserId" [ngModelOptions]="{standalone: true}"><br><br />
      <label id="status" style="color:red;visibility:hidden;">您的帳號有誤或者無此帳號</label>
    </div>

    <section class="btn-group">
      <div>
        <a href="login">取消離開</a>
        <a (click)="doForgetPassword()" style="color:white;" data-toggle="modal" data-target="#Modal_AddAccount">確定送出</a>
      </div>
    </section>
  </div>
  <footer>
    <p style="font-size: max(1.2vw, 20px);">Copyright <i class="fa fa-copyright"></i>2019 <a href="https://www.yjfcasting.com" target="_blank">源潤豐鑄造</a> All
      Right Reserved.</p>
  </footer>
</div>
