<div class="full">
  <div class="TitleBackGround">
    <img src="/assets/images/YJF-logo-AllName.png" style="width:100%;height: 100%;">
  </div>
  <div class="videodiv">
    <video width="100%" src="/assets/video/YJF-introduce.mp4" autoplay muted loop controls></video>
  </div>
  <div class="fontbackground">
    <div class="font">
      <div class="wellcome">Welcome</div>
      <div class="title">HELLER Maschinenfabrik Gmbh</div>
      <div  class="text"><div style="width: 1em;"></div><div style="width: 3em;">Matthias Frese</div><div style="width: 1em;"></div><div style="width: 4em;"></div></div>
      <div  class="text"><div style="width: 1em;"></div><div style="width: 3em;">Joerg Schulz</div><div style="width: 1em;"></div><div style="width: 4em;"></div></div>
      <div  class="text"><div style="width: 1em;"></div><div style="width: 3em;">Markus Schwirzinger</div><div style="width: 1em;"></div><div style="width: 4em;"></div></div>
    </div>
  </div>
  <div class="tool">
    <img width="50%" src="/assets/images/tool.png" />
  </div>
</div>
